@mixin center-flex-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rmlm-item-container {
    .rmlm-item-wrapper {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        cursor: pointer;
        padding-right: 20px;

        .rmlm-list-data {
            width: 100%;
            text-transform: capitalize;
            height: 48px;
            margin: 0;
            line-height: 48px;
            display: flex;
            justify-content: flex-start;
    
            .rmlm-icon-container {
                @include center-flex-vertically;
                margin-right: 16px;
                .rmlm-list-icon {
                    line-height: 48px;
                    flex-shrink: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    @include center-flex-vertically;
                }

                .rmlm-icon-fa  {
                    font-size: 20px;
                    text-align: center;
                }
            }
    
            .rmlm-list-label {
                line-height: 48px;
                font-weight: 400;
                text-decoration: none;
                display: block;
                width: 100%;
                color: inherit;
                background: inherit;
                text-align: left;
            }
        }

        .rmlm-icon-arrow-container {
            display: flex;
            align-items: center;
            .right-arrow {
                width: 12px;
            }
            .down-arrow {
                width: 20px;
            }
        }

    }
    .rmlm-dividers {
        border-top-color: rgba(0,0,0,.12);
        border-top-width: 1px;
        border-top-style: solid;
    }
    .rmlm-submenu {
        margin-left: 16px;
    }
}

.disabled-rmlm-item {
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}